body main {
    h1{
        font-family: $gotham-medium;
        font-size: 33px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        line-height: 45px;
        color: $c-blue;
        text-align: center;
        font-weight: normal;
        width: 100%; 
    }
    h2 {
        font-family: $gotham-medium;
        font-size: 28px;
        letter-spacing: 3px;
        text-transform: uppercase;
        line-height: 35px;
        color: #3c646e;
        text-align: center;
        font-weight: normal;
        width: 100%; 
    }
    h3{
        font-family: $gotham-medium;
        font-size: 23px;
        letter-spacing: 3px;
        text-transform: uppercase;
        line-height: 28px;
        color: #3c646e;
        text-align: center;
        font-weight: normal;
        width: 100%; 
    }
    p {
        font-family: $gotham-book;
        font-size: 15px;
        letter-spacing: 1px;
        text-transform: none;
        line-height: 1.7em;
        color: $c-text;
        text-align: left;
        font-weight: normal;
        width: 100%;
        strong {
            font-family: $gotham-medium;
        } 
    }
    p.message {
        line-height: 2em;
        font-size: 20px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    .btn-cta,
    button.btn-cta {
        background: $c-green;
        color: white;
        font-family: $gotham-medium;
        font-size: 18px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        line-height: 45px;
        border-radius: 5px;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 45px;
        padding: 0 25px;
        transition: .5s;
        &:hover {
            background: $c-green-dark;
            text-decoration: none;
        }
    }
    .sublist {
        padding: 0;
        li {
            list-style: none;
        }
    }
    .cont_center {
        margin: 0 auto;
        display: table;
    }
}

/* ======= MEDIUM ======*/

@media only screen and (max-width: 767px) {
    body {
        main {
            h1 {
                font-size: 24px;
                line-height: 1.3em;
            }
            h2 {
                font-size: 20px;
                line-height: 1.3em;
            }
            h3 {
                font-size: 18px;
                line-height: 1.5em;
            }
            h4 {
                font-size: 15px;
                line-height: 1.5em;
            }
            p {
                font-size: 13px;
                line-height: 1.5em;
            }
            p.message {
                font-size: 15px;
                line-height: 2em;
                width: 90%;
            }
        }
    }
}
