.experiencia {
    background: #eff8fa;
    .banner-photos {
        width: 100%;
        img {
            width: 100%;
            margin: 0 auto;
            max-width: 1500px;
        }
    }
    h1 {
        margin: 60px 0 50px 0;
    }
    h2 {
        color: $c-black;
        margin-bottom: 70px;
    }
    .cont_experiencia {
        width: 1000px; 
        margin: 0 auto;
        display: table;
        float: none;
        .tabs {
            margin-bottom: 35px;
            h3 {
                @include h3;
                padding: 0 0 10px 0;
                border-bottom: 3px solid $c-blue;
                text-align: left;
                margin: 0;
                position: relative;
                transition: 1.5s;
                &:after {
                    content:'';
                    background: url('../images/arrow_toggle_down.png') 0 0 no-repeat;
                    background-size: 30px auto;
                    width: 30px;
                    height: 20px;
                    float: right;
                    position: relative;
                    transition: 3s;
                    top: 5px;
                }
            }
            h3.active {
                width: 100%;
                &:after {
                    background: url('../images/arrow_toggle_up.png') 0 0 no-repeat;
                    background-size: 30px auto;
                }
            }
            h4 {
                margin-top: 30px;
                margin-bottom: 5px;
                font-family: $gotham-medium;
            }
            p {
                line-height: 1.5em;
                margin: 0;
            }
            .panel {
                padding: 35px 100px;;
                display: none;
                background: #e5f3f7;  
            }
        }
        #tab1_ex {
            .cont_txt {
                width: 85%;
                float: left;
            }
            .cont_img {
                width: 6%;
                float: right;
            }
            .panel {
                float: left;
            }
        }
    }
    .block_cta {
        margin-top: 130px;
        display: inline-block;
        .message {
            width: 82%;
            margin-bottom: 40px;
        }
        .btn-cta {
            margin: 50px auto 100px auto;
            float: none;
            display: table;
        }
    }
}