footer{
    background-color: $c_blue;
    font-family: $gotham-book;
    font-size:10px;
    height: 130px;
    .container{
        height: 130px;
        display: table;
        max-width: 1200px;
        .cont_sign {
            float: left;
        }
        ul{
            vertical-align: middle;
            display: table-cell;
            li{
                display: inline-block;
                text-align: center;
                margin-right: 30px;
                a,
                p {
                    color: white;
                    text-transform: none;
                    cursor: pointer;
                    font-family: $gotham-book;
                    transition: none;
                    text-decoration: underline;
                    font-size: 13px;
                    margin: 0;
                }
                p {
                    text-decoration: none;
                    cursor: default;
                }
                a {
                    &:hover, &:active, &:focus{
                        text-decoration: underline;
                        color: white;
                        opacity: 0.7;
                    }
                }
            }
        }
        .cont_payment {
            float: right;
        }
        .cont_sign,
        .cont_payment {
           height: 130px;
           display: table;
        }
        .payment {
            vertical-align: middle;
            display: table-cell;
            h3 {
                text-transform: uppercase;
                font-size: 13px;
                font-family: $gotham-book;
                margin: 0;
                color: white;
                float: right;
                span {
                    border-radius: 10px;
                    background: #9eb2b7;
                    padding: 15px;
                    margin-left: 20px;
                    displaY: inline-block;
                }
            }
        }
        @media (max-width: 480px){
            ul{
                li{
                    text-align: left;
                    a{
                        line-height: 35px;

                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    footer {
        height: auto;
        .container {
            height: auto;
            .cont_sign,
            .cont_payment {
                width: 100%;
                height: auto;
                float: none;
                display: table;
                margin: 20px auto;
                ul {
                    padding: 0;
                }
            }
            .payment {
                text-align: center;
                .cards {
                    padding: 5px;
                    img {
                        width: 130px;
                    }
                }
            }
            ul {
                li {
                    width: 100%;
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
}
@media only screen and (max-width: 320px) {
    footer {
        .container {
            .payment {
                .cards {
                    margin-left: 0;
                    margin-top: 10px;
                    padding: 5px;
                    img {
                        width: 130px;
                    }
                }
            }
        }
    }
}