/* ======= HEADER ======= */

header {
    float: left;
    width: 100%;
    height: 100px;
    background:white;
    text-transform: uppercase;
    .container {
        max-width: 1200px;
        background: white;
        .title_site {
            margin-top: 10px;
            a {
                text-decoration: none;
                font-family: $gotham-medium;
                font-size: 15px; 
                font-weight: normal;
                letter-spacing: 1px;
                color: $c-blue;
                display: inline-block;
                float: left;
                &.subtitle {
                    margin-top: 20px;
                }
                &.title {
                    font-size: 19px;
                    margin: 5px 0;
                    font-family: $gotham-bold;
                }
            }
        }
        .logo_harim {
            background: transparent url('../images/logo_harim.png') no-repeat 0 0;
            background-size: 170px auto;
            width: 160px;
            height: 135px;
            float: left;
            text-indent: -99999%;
            margin-right: 20px;
            position: relative;
            z-index: 99;
        }
        ul.social {
            display: table;
            height: 100%;
            margin: 37px auto 0 auto;
            padding: 0;
            li {
                list-style: none;
                a {
                    text-indent: -99999%;
                    width: 30px;
                    height: 30px;
                    float: left;
                    background: transparent url('../images/sp_social.png') 0 0 no-repeat;
                    background-size: auto 30px;
                    cursor: pointer;
                    margin-right: 10px;
                    transition: .3s;
                    &.fb {
                        background-position: 100% 0;
                        margin: 0;
                    }
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
        .btn-cta {
            @include btn-cta;
            float: right;
            margin-top: 21px;
        }
    }
}

main {
    float: left;
    width: 100%;
}


/* ======= MEDIUM ======*/

@media only screen and (max-width: 768px) {
    header {
        height: 90px;
        .col-md-12,
        .col-md-6 {
            padding: 0;
        }
        .container {
            .title_site {
                .logo_harim {
                    background-size: 78px auto;
                    width: 24%;
                    height: 70px;
                    margin-right: 10px;
                }
                a.subtitle {
                    margin-top: 5px;
                    font-size: 10.5px;
                }
                a.title {
                    font-size: 12px;
                }
                a.subtitle,
                a.title {
                    float: left;
                    width: 72%;
                }
            }
            ul.social {
                float: left;
                margin: 0;
                li a {
                    width: 20px;
                    height: 20px;
                    background-size: auto 20px;
                    margin-right: 5px;
                }
            }
            .btn-cta {
                font-size: 12px;
                padding: 0 18px;
                margin-top: 8px;
            }
        }
    }
}

/* ======= SMALL ======*/

@media only screen and (max-width: 599px) {
    header {
        height: 90px;
        .container {
            height: 145px;
            .col-md-2 {
                width: 70%;
                float: left;
                clear: right;
                padding: 0;
            }
            .col-sm-4 {
                padding: 0;
            }
            .title_site { 
                .logo_harim {
                    width: 20%;
                    background-size: 88px auto;
                }
            }
            .btn-cta {
                margin-top: 15px;
            }
        }
    }
}


/* ======= XSMALL ======*/

@media only screen and (max-width: 479px) {
    header {
        .container {
            .title_site {
                .logo_harim {
                    width: 24%;
                    background-size: 78px auto;
                }
            }
            .btn-cta {
                margin-top: 15px;
                padding: 0 22px;
            }
        }
    }
}