/* ======= HOME ======= */

main{
    overflow:hidden;
    .parallax{
        
        h3{
            margin:0;
        }
    }
    /*PARALLAX*/
    @mixin mixin-parallax{
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax{
        position:relative;
    }
    .parallax-first {
        /* The image used */
        background-image: url("../images/home/slide-home.png");
        height: 600px;
        @include mixin-parallax;
        .slide-home{
            width: 100%;
        }
        .sections {
            padding: 0;
            height: 600px;
            max-width: 1500px;
            margin: 0 auto;
            display: table;
            width: 100%;
            li {
                list-style: none;
                width: 33.3%;
                display: inline-block;
                height: 600px;
                float: left;
                a {
                    width: 100%;
                    float: left;
                    position: relative;
                    span {
                        opacity: 0;
                        transition: .5s;
                        height: 600px;
                        width: 100%;
                        display: table;
                        z-index: 99;
                        position: absolute;
                        span {
                            vertical-align: middle;
                            text-trasnform: uppercase;
                            font-family: $gotham-medium;
                            letter-spacing: 1px;
                            color: $c-blue;
                            cursor: pointer;
                            text-decoration: none;
                        }
                    }
                    img {
                        width: 100%;
                    }
                    &:hover {
                        span {
                            opacity: .8;
                            background: #afc6cc;
                        }
                        img {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}