// FONT SIZES

$f-size-xxl: 18px;
$f-size-xl: 16px;
$f-size-l: 15px;
$f-size: 14px;
$f-size-s: 13px;
$f-size-xs: 12px;
$f-size-xxs: 11px;
$f-size-xxxs: 10px;


// COLORS

$c-blue: #3c646e;
$c-blue-clear: #cae7ef;
$c-blue-extra: #428393;
$c-text: #313131;
$c-green: #94bb53;
$c-green-dark: #73a225;
$c-black: #1b1b1b;
$c-gray: #9fb6bb;



// COLORS DELETE

$c-red: #da0413;
$c-dark-red: #aa1616;
$bg-red: #e1261c;
$bg-dark-red: #aa1616;
$c-dark-gray: #676767;
$bg-gray: #f0efef;
$bg-dark-gray: #e3e3e3;
$c-pink: #F09BA1;
$c-beige: #DFC8A0;
$c-white: #F0EFEF;
$c-txt-input: #494949;
$c-qty: #b1b0b0;
$c-input: #e4e2e3;
$red-btn: #df2432;

// BUTTONS

//botón de prueba, se puede modificar este mixin

@mixin btn-cta{
    background: $c-green;;
    color: white;
    font-family: $gotham-medium;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    line-height: 45px;
    border-radius: 5px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 45px;
    padding: 0 25px;
    transition: .5s;
    &:hover {
        background: $c-green-dark;
    }
    
}



/* Delete */
@mixin title43{
    font-size: 43px;
    font-family: $gotham-bold;
    text-transform: uppercase; 
    color: white;  
}
@mixin title_red{
    font-size: 43px;
    font-family: $gotham-bold;
    text-transform: uppercase; 
    color: $c-dark-red;
    &:before{
        content: "\00a0";
        background-image: url("../images/home/feather.png");
        background-repeat: no-repeat;
        background-position: 0px -72px;
        background-size: 81px;
        width: 81px;
        height: 88px;
        display: inline-block;
        line-height: 35px;
        margin-right: 50px;

    }  
}

@mixin btn_rsmall{
    background-color: $red-btn;
    color: white;
    padding: 10px;
    text-align: center;
    border: none;
    width: 116px;
    text-transform: uppercase;
    font-size: $f-size-xs;
    height: 36px;
    line-height: 18px;
    border-radius: 5px;
}
@mixin btn_wsmall{
    background-color: white;
    color: $red-btn;
    padding: 10px;
    text-align: center;
    border: 1px solid $red-btn;
    width: 116px;
    text-transform: uppercase;
    font-size: $f-size-xs;
    font-family: $gotham-bold;
    height: 36px;
    line-height: 18px;
    border-radius: 5px;
}

@mixin border_dotted_vertical{
    background-image: linear-gradient(#ababab 33%, rgba(171,171,171,0) 0%);
    background-position: right;
    background-size: 3px 8px;
    background-repeat: repeat-y;
}

button{ -webkit-appearance: none; -moz-appearance: none; appearance: none;}
input:focus, button:focus{
    outline: 0px;
}

// FONTS

$gotham-book:     "Gotham-Book", "Trebuchet MS", Arial, sans-serif;
$gotham-bookit:   "Gotham-BookItalic", "Trebuchet MS", Arial, sans-serif;
$gotham-medium:   "Gotham-Medium", "Trebuchet MS", Arial, sans-serif;
$gotham-mediumit: "Gotham-MediumItalic", "Trebuchet MS", Arial, sans-serif;
$gotham-bold:     "Gotham-Bold", "Trebuchet MS", Arial, sans-serif;
$gotham-boldit:   "Gotham-BoldItalic", "Trebuchet MS", Arial, sans-serif;
$gotham-black:    "Gotham-Black", "Trebuchet MS", Arial, sans-serif; 
$helvetica-bold:  "helvetica-neue-Bold", "Trebuchet MS", Arial, sans-serif;   


