.top-banner-dash {
    background-color: $bg-red;
    display: table;
    height: 150px;
    margin: 0;
    padding: 0;
    width: 100%;
    h1 {
        background: none;  
        color: white;
        display: table-cell;
        font-family: $gotham-medium;
        font-size: 26pt;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;   
    }
}
.main-dash {
    display: table;
    font-size: 13px;
    margin: 70px auto;
    width: 100%;
    max-width: 1270px;
    a {
        cursor: pointer;
        font-family: $gotham-medium;
        transition: .3s;
        color: black;
        text-decoration: underline;
        font-size: 13px;
    }
    a:hover {
        color: $bg-red;
    }
    .col-left-dash {
        width: 20%;
        float: left;
        margin: 0 50px;
        max-width: 250px;
        .title {
            border-radius: 5px;
            background-color: $bg-red;
        }
        h2 {
            background: none;
            color: white;
            text-transform: uppercase;
            font-family: $gotham-book;
            font-size: 16px;
            margin: 0;
            padding: 5px 0;
            text-align: center;
            position: relative;
            .tablinks {
                background: none;
                border: none;
                color: white;
                font-size: 16px;
                padding: 0;
                text-transform: uppercase;
                width: 100%;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                -webkit-transition: width .3s; /* Safari */
                transition: width .3s;
            }
        }
        h2::after {
            content: '';
            width: 3px;
            height: 0;
            border-radius: 3px;
            border-style: solid;
            border-width: 15px 10px 0 10px;
            border-color: $bg-red transparent transparent transparent;
            position: absolute;
            bottom: -14px;
            right: 45%;
        }
        #showmenu {
            display: none;
        }
        a {
            text-decoration: none;
        }
        a:hover {
            color: $bg-red;
        }
        .menu-dash {
            background: $c-gray;
            border-radius: 5px;
            margin: 35px 0 0 0;
            padding: 10px 20px 20px;
            li {
                list-style: none;
                margin: 15px 0;
                position: relative;
                background: none;
                a, 
                .tablinks {
                    cursor: pointer;
                    border: none;
                    padding: 0;
                    font-family: $gotham-medium;
                    font-size: 14px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;				
                }
                a::after,
                .tablinks::after {
                    background: $bg-red;
                    bottom: -3px;
                    content: '';
                    height: 2px;
                    left: 0;
                    position: absolute;
                    width: 0;
                    -webkit-transition: width .3s; /* Safari */
                    transition: .3s;
                }
                a:hover:after,
                    .tablinks:hover:after,
                    .tablinks.active::after,
                    .tablinks.extra_active_orders::after,
                    .tablinks.extra_active_ordersa::after,
                    .tablinks.extra_active_shipping::after,
                    .tablinks.extra_active_shippinga::after,
                    .tablinks.extra_active_news::after,
                    .tablinks.extra_active_info::after,
                    .tablinks.extra_active_invoice::after {
                    width: 100%;
                }
                button {
                    background: none;
                }
            }
        }
    }
    .input-check{
        opacity: 0.5;
        position: relative;
        top: 5px;
    }
    .col-right-dash {
        width: 68%;
        max-width: 1000px;
        float: left;
        h2 {
            color: $bg-red;
            font-family: $gotham-bold;
            font-size: 24px;
            font-weight: normal;
            margin: 0;
            text-decoration: none;
            text-transform: none;
        }
        h3 {
            margin: 5px 0 0;
            font-family: $gotham-book;
            font-size: 18px;
            font-weight: normal;
            text-decoration: none;
        }
        .content {
            float: left;
            display: block;
            width: 100%;
        }
        .dash-table {
            display: table;
            width: 100%;
            border-collapse: collapse;
            margin-top: 12px;
            border-bottom: 3px solid $c-gray;
            thead {
                color: white;
                font-family: $gotham-book;
                tr {
                    th {
                        background: black;
                        padding: 5px 0;
                    }
                    th:first-child{
                        border-radius:5px 0 0 0;
                    }
                    th:last-child {
                        border-radius:0 5px 0 0 ;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font-family: $gotham-book;
                        padding: 15px 0;
                        a {
                            text-decoration: underline;
                            margin: 0 5px;
                        }
                        .tablinks {
                            background: none;
                            border: none;
                            color: black;
                            font-family: $gotham-medium;
                            margin: 0 5px;
                            padding: 0;
                            text-decoration: underline;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            -webkit-transition: width .3s; /* Safari */
                            transition: width .3s;
                        }
                        .tablinks:hover {
                            color: $bg-red;
                        }
                    }
                }
            }
        }
        .blocks-dash {
            h3 {
                font-family: $gotham-bold;
                font-size: 16px;
                margin-bottom: 10px;
                margin-top: 0; 
            }
            p {
                margin: 3px 0;
            }
            a {
                text-decoration: underline;
                margin: 0 5px;
                font-family: $gotham-medium; 
            }
            a:first-child,
                .tablinks:first-child {
                margin-left: 0;
            }
            .tablinks {
                background: none;
                border: none;
                color: black;
                font-family: $gotham-medium;
                margin: 0 5px;
                padding: 0;
                text-decoration: underline;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                -webkit-transition: width .3s; /* Safari */
                transition: width .3s;
            }
            .tablinks:hover {
                color: $bg-red;
            }
            .center {
                width: 60%;
                margin: 0 auto;
                display: table;
            }
        }
    }

    .dash-orders {
        .foot {
            font-family: $gotham-bold;
            text-align: right;
            width: 100%;
            margin-bottom: 15px;
        }
        .orders-table {
            margin-bottom: 10px;
        }
    }
    .selectall {
        margin-top: -10px;
    }
    .newsletter {
        .threecol {
            width: 29%;
            margin-right: 6.5%;
            float: left;
            .news-img {
                width: 100%;
                height: auto;
                background: $c-gray;
                border: 2px solid transparent;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            p {
                width: auto;
                margin: 0 auto;
                display: table;
            }
        }
        .threecol:last-child {
            margin-right: 0;
        }
    }
    .credit {
        p {
            font-family: $gotham-medium;
        }
        h4 {
            text-transform: uppercase;
            font-family: $gotham-bold;
        }
        .cred-step {
            padding-left: 8%;
            float: left;
            width: 92%;
            span {
                color: $bg-red;
                float: left;
                font-family: $gotham-bold;
                font-size: 30px;
            }
            p {
                padding: 15px 0 0 15px;
            }
            i {
                font-family: $gotham-mediumit;
                font-style: normal;
                margin-right: 10px;
            }
        }
        ul {
            padding: 0 140px;
            float: left;
            li {
                list-style: none;
                font-family: $gotham-bold;
            }
        }
    }
    .suggest {
        width: 100%;
        float: left;
        h4 {
            text-transform: uppercase;
            color: black;
            font-family: $gotham-medium;
        }
        .removeall {
            position: absolute;
            text-decoration: none;
            width: 30px;
            height: 30px;
            border: 1px solid $c-dark-gray;
            background: $c-dark-gray;
            opacity: 0.2;
            top: -30px;
            z-index: 9;
            color: white;
        }
        .removeall:before {
            content: 'X';
            font-size: 18px;
            text-align: center;
            line-height: 30px;
            margin: 0 auto;
            display: table;
        }
        .close {
            color: $c-dark-gray;
            font-size: 18px;
        }
        .arrow {
            width: 40px;
            height: 40px;
            float: left;
            background: transparent url('../images/arrow_prev.png') no-repeat;
            background-size: 40px;
            margin-top: 120px;
        }
        .arrow.next {
            background: transparent url('../images/arrow_next.png') no-repeat;
            background-size: 40px;
        }
        .suggest_orders {
            width: auto;
            position: relative;
            li {
                list-style: none;
                margin-top: 30px;
                h2, h3 {
                    font-size: 13px;
                    text-align: center;
                    a {
                        text-decoration: none;
                    }
                }
                h2 {
                    text-transform: uppercase;
                    a {
                        color: $bg-red;
                    }
                }
                img {
                    width: 100%;
                }
                .price {
                    color: $c-dark-gray;
                    font-family: $gotham-medium;
                    font-weight: normal;
                    font-size: 14px;
                    margin: 0;
                    font-weight: normal;
                    text-align: center;
                    margin-top: 10px;
                    span {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}
.main-dash.cart {
    max-width: 1200px;
    .col-left {
        width: 55%;
        float: left;
    }
    .col-right {
        width: 41%;
        float: right;
    }
    .timeline {
        position: relative;
        width: 100%;
        float: left; 
        .step {
            width: 33.3%;
            float: left;
            h3, h2 {
                color: $c-dark-gray;
                margin: 0;
                text-align: center;
                font-size: 16px;
            }
            h2 {
                font-family: $gotham-bold;
                margin-top: 3px;
                margin-bottom: 10px;
                text-transform: uppercase;
            }
            .ico-step {
                width: 30px;
                height: 30px; 
                border-radius: 30px;
                border: 3px solid $bg-red;
                display: table;
                background: white;
                position: relative;
                z-index: 8;
                float: none;
                margin: 0 auto;
            }
        }
        .step:first-child {
            h3, h2 {
                text-align: left;
            }
            .ico-step {
                float: left;
            }
        }
        .step:last-child {
            h3, h2 {
                text-align: right;
            }
            .ico-step {
                float: right;
            }
        }
        .step.active {
            h3, h2 {
                color: $bg-red;
            }
            .ico-step {
                span {
                    width: 14px;
                    height: 14px;
                    background: $bg-red;
                    border-radius: 14px;
                    display: table;
                    margin: 5px auto;
                }
            }
        }
    }
    .timeline:before {
        content: "";
        border: 2px solid $bg-red;
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 99.8%;
    }
    .timeline.five {
        .step {
            width: 21.5%;
            h2 {
                font-size: 16px;
            }
            h3 {
                font-size: 16px;
            }
        }
        .step:last-child {
            width: 14%;
        }
    }
    .tabs {
        border-radius: 10px;
        border: 2px solid #ededed;
        float: left; 
        width: 100%;
        margin-top: 20px;
        .tit_tab {
            border-radius: 10px;
            border: 1px solid $bg-red;
            width: 100.5%;
            padding: 15px 20px;
            font-family: $gotham-medium;
            font-size: 16px;
            text-transform: uppercase;
            color: white;
            background: $bg-red url(../images/arrow_white_up.png) 98% 7px no-repeat;
            background-size: 28px auto;
            cursor: pointer;
            margin: -2px;
        }
        .tit_tab.active {
            background-image: url(../images/arrow_white_down.png);
        }
        .tit_tab.disable {
            background-color: white;
            border: 2px solid $bg-red;
            color: $bg-red;
            position: relative;
            z-index: 8;
        }
        .cont_tab {
            padding: 20px;
        }
    }
    .tabs:first-child {
        margin-top: 0;
    }
    .form {
        select {
            padding: 0 15% 0 5%;
            option {
                width: 100%;
            }
        }
        select,
        input {
            background-color: $c-input;
            margin-bottom: 20px;
        }
        label {
            font-family: $gotham-medium;
            font-weight: normal;
            font-size: 13px;
            text-transform: uppercase;
            height: auto;
            line-height: 20px;
            float: left;
        }
        a.moreinfo {
            color: $c-dark-gray;
            text-transform: none;
            text-decoration: underline;
            font-size: 13px;
            font-family: $gotham-book;
        }
    }
    .buttons {
        width: 100%;
        float: left;
        .btn-dash {
            width: 100%;
            text-transform: uppercase;
            height: auto;
            line-height: 18px; 
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .col3:first-child {
            padding-left: 0;
        }
        .col3:last-child {
            padding-right: 0;
        }
    }
    .resume {
        color: $c-dark-gray;
        background: $c-gray;
        border-radius: 5px;
        padding: 30px;
        float: left;
        width: 100%;
        p {
            font-family: $gotham-book;
            font-size: 13px;
            font-weight: normal;
            margin-bottom: 3px;
        }
        p.subtitle {
            font-family: $gotham-medium;
        }
        p.grantotal {
            font-family: $gotham-medium;
            color: $bg-red;  
        }
        input {
            background: $bg-dark-gray;
            width: 60%;
            font-size: 13px;
            float: left;
            height: 45px;
        }
        table {
            h2 {
                margin: 0;
                text-align: right;  
            }
            tbody {
                tr {
                    td {
                        padding: 5px 0;
                    }
                }
            }
        }
    }
    .resume.total {
        padding: 10px 30px;
        .product-table {
            h2 {
                text-align: left;
            }
        }
    }
    .carrito {
        h2 {
            color: $c-dark-gray;;
            font-family: $gotham-medium;
            font-size: 15px;
            font-weight: normal;
            text-transform: uppercase;
            margin-top: 0;
            width: 100%;
            float: left;
        }
        h2.title_red {
            color: $bg-red;
        }
        h2.title_black {
            color: black;
        }
        .form {
            input {
                height: 45px;
            }
        }
        .btn-dash.cta {
            margin-top: 20px;
        }
    }
}
.main-dash.cart.checkout {
    font-size: 17px;
    .resume {
        margin-top: 20px;
        h2 {
            color: $bg-red;
        }
        h3 {
            color: black;
            font-family: $gotham-medium;
            font-size: 15px;
            font-weight: normal;
            text-transform: uppercase;
            margin-top: 0;
            width: 100%;
            float: left;
        }
    }
    .tabs:first-child {
        margin-top: 20px;
    }
}
.main-dash.m_success {
    background: transparent url(../images/checkout/photo_cup.png) 100% 50% no-repeat;
    background-size: 300px auto;
    h1, h2, h3, p, a {
        color: white;
        text-align: center;
    }
    h2 {
        font-size: 20px;
        font-family: $gotham-book;
        text-transform: uppercase;
    }
    h3 {
        font-size: 20px;
    }
    p, a {
        font-size: 16px;
    }
    .btn-dash.white {
        font-family: $gotham-medium;
        padding: 10px 65px;
        height: auto;
    }
}
.contact {
    background: #ff0302 url(../images/banner_contacto.gif) 50% 50% no-repeat;
    width: 100%;
    min-height: 1000px;
    float: left; 
    h3 {
        color: white;
        font-family: $gotham-medium;
    }
    .form.col2 {
        float: right;
    }
}
.cms,
.success {
    background: transparent url(../images/bkg_cms.jpg) 50% 50% repeat;
    width: 100%;
    min-height: 1000px;
    .menu-desk {
        margin: 0;
    }
    .main_cms {
        background: white;
        max-width: 1200px;
        padding: 50px 100px;
        display: table;
        margin: 70px auto;
        position: relative;
        -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25); 
        box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
        h2 {
            color: $bg-red;
            font-family: $gotham-bold;
        }
        p {
            font-family: $gotham-book;
            font-size: 14px;
            margin-bottom: 30px;
            text-align: justify;
        }
        .cms-img-h-l {
            position:absolute; 
            top: 400px; 
            left: -65px;
        }
        .cms-img-h-r {
            position:absolute; 
            top: 200px; 
            right: -37px;
        }
        .p-l-50 {
            padding-left: 50px;
        }
        .p-r-80 {
            padding-right: 80px;  
        }
    }
}
.success {
    background: $bg-red url(../images/checkout/bkg_success.png) 0 350px no-repeat;
    background-size: auto 650px;
}
.fast_register {
    width: 100%;
    height: 2000px;
    position: absolute;
    top: 0;
    left: 0;
    .opacity {
        background: white;
        opacity: .8;
        z-index: 200;
        width: 100%;
        height: 2000px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .cont_register {
        width: 700px;
        height: 400px;
        border: 2px solid $bg-red;
        margin: 0 auto;
        display: table;
        margin-top: 200px;
        background: $bg-red;
        z-index: 200;
        position: relative;
        h2 {
            font-family: $gotham-medium;
            font-size: 14px;
            text-transform: uppercase;
            color: white;
        }
        h2:before{
            content: '\00a0';
            background-image: url(../images/sprite.png);
            background-repeat: no-repeat;
            background-position: -51px -99px;
            background-size: 120px;
            width: 31px;
            height: 31px;
            display: block;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            top: -3px;
        }
        #unregistered{
            vertical-align: middle;
            display: table-cell;
            .form-register{
                display: table;
                position: relative;
                width: auto;
                margin: 0 auto;
                .login_redirect {
                    position: absolute;
                    bottom: -8px;
                    left: 35px;
                }
                .nav-search{
                    input{
                        width: 200px;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        background-color: #f4f3f3;
                        border: none;
                        border-radius: 5px;
                        height: 30px;
                        margin: 0 10px 20px 0;
                        text-indent: 10px;
                    }
                }
            }
            .nav-search {
                list-style: none;
                display: block;
                width: 100%;
                &.user{
                    label{
                        display: block;
                        position: relative;
                        color: white;
                        font-size: 10px;
                    }
                    input{
                    }
                }
                &.pass{
                    label{
                        display: block;
                        position: relative;
                        color: white;
                        font-size: 10px;
                    }
                    input{
                        margin-right: 0;
                    }
                }
                &.login_btn{
                    a{
                        background-image: url(../images/sprite.png);
                        width: 33px;
                        height: 30px;
                        background-size: 116px;
                        background-position: -14px -228px;
                        cursor: pointer;
                    }   
                }
            }
            span.login_redirect{
                font-size: 10px;
                a{
                    color: white;
                }
            }
        }
    }
    .btn-dash {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        margin-top: 20px;
        width: 200px;
        font-family: $gotham-medium;
        float: left;
    }
    .btn-dash:hover {
        text-decoration: none;
    }
    .image {
        img {
            height: 290px;
            margin-top: 30px;
            width: auto;
        }
    }
    .closepopup {
        border: none;
        float:  right;
        color: white;
        position: absolute;
        top: 10px;
        right: 10px;
        background: transparent;
        font-size: 18px;
        font-family: $gotham-book;
    }
}




/* ======== RESPONSIVE ========= */

@media (max-width: 1199px) {
    .top-banner-dash {
        h1 {
            font-size: 26px;
        }
    }
    .main-dash {
        font-size: 12px;
        .col-left-dash {
            margin: 0 20px;
            width: 22%;
            .menu-dash {
                padding: 10px 10px 20px;
                margin-top: 28px;
            }
        }
        .col-right-dash {
            h2 {
                font-size: 23px;
            }
            h3 {
                font-size: 16px;
            }
            .orders-table {
                font-size: 12px;
            }
            .dash-table {
                tbody {
                    tr {
                        td {
                            a {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 799px) {
    .dashboard {
        /* ===== DIVIDER ===== */
        .div70 {
            height: 50px;
        }
    }
    .top-banner-dash h1 {
        font-size: 23px;
    }
    .main-dash {
        margin: 30px 0;
        padding: 0 5%;
        width: 100%;
        .col-left-dash,
        .col-right-dash {
            margin: 0;
            max-width: 100%;
            width: 100%;
        }
        .col-left-dash {
            h2 {
                .tablinks {
                    width: 85%;
                }
            }
            h2::after {
                /*opacity: 0;*/
                right: 48%;
            }
            .menu-dash {
                /*display: none;*/
                -webkit-transition: width 1s; /* Safari */
                transition: width 1s;
                margin-bottom: 30px;
            }
            /*#showmenu {
                    display: block;
                    width: 30px;
                    height: 20px;
                    background: white;
                    float: right;
                    margin-right: 5px;
                    background: transparent url(../images/sprite.png) -100px -360px;
                    background-size: 140px auto;
                    cursor: pointer; 
            }*/
        }
        .col-right-dash {
            .blocks-dash {
                .center {
                    width: 85%;
                }
            }
        }
    }
    .contact {
        min-height: 1500px;
        background-position: 0 550px;
        .c-p85,
        .c-p75,
        .form.col2 {
            width: 100%;
        }
    }	
}

@media (max-width: 599px) {
    nav.mobile {
        display: none;
    }
    .menu-main {
        display: none;
    }
    .main-dash.dashboard {
        font-size: 13px;
    }
    .dashboard,
    .cms {
        a,
        select {
            font-size: 13px;
        }

        /* ==== ONLY MOBILE ==== */
        .onlymob {
            display: block;
        }

        /* ==== GRID ===== */
        .col2,
        .c-p85,
        .c-p75 {
            width: 100%;
            float: left; 
        }

        /* ==== FORM ==== */
        .form {
            input,
            label {
                height: 35px;
                line-height: 35px;
                margin-bottom: 20px;
                font-size: 13px;
                span {
                    color: $bg-red;
                }
            }
        }

        /* ==== BUTTON ==== */
        .btn-dash.red {
            height: 35px;
            line-height: 35px;
            width: 100%;
        }

        .col-right-dash {
            .blocks-dash {
                h3 {
                    font-size: 14px;
                }
                .center {
                    width: 95%;
                }
                .tablinks {
                    font-size: 13px;
                }
            }
            .dash-table {
                thead {
                    display: none;
                }
                tbody {
                    tr {
                        float: left;
                        padding: 10px 10px;
                        td {
                            width: 100%;
                            float: left;
                            text-align: left;
                            padding: 2px 0;
                            .tablinks:first-child {
                                margin-left: 0;
                            }
                        }
                    }
                    tr:nth-child(odd) {
                        background: #f5f5f5;
                    }
                }
            }
            .dash-orders {
                input {
                    float: right;
                    margin-top: 0;
                }
            }
        }
    }
}
