
/* /////////////////////*/
/* ======= MENU ======= */

nav {
    background-color: $c-blue;
    height: 60px;
    font-family: $gotham-medium;
    font-size: 14px;
    text-transform: uppercase;
    position: sticky;
    color: white;
    top: 0;
    z-index: 9;
    float: left;
    width: 100%;
    .menu-mobile{
        display: none;
    }
    .cont_menu {
        max-width: 1200px;
    }
    ul.menu-desk {
        position:relative;
        /*max-width: 1250px;*/
        padding: 0;
        li {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            height: 60px;
            position: initial;
            padding: 0;
            width: 19.8%;
            & > a {
                color: white;
                text-align: center;
                display: block;
                line-height: 60px;
                font-size: 15px;
                letter-spacing: 1px;
                transition: 1s;
                &:hover,
                &.active {
                    color: white;
                    text-decoration: none;
                    background-color: $c-blue-extra;
                    -webkit-transition: background-color 300ms;
                    -moz-transition: background-color 300ms;
                    -o-transition: background-color 300ms;
                    transition: background-color 300ms;
                }
            }
        }
        li.first {
            width: 14%;
        }
        .menulv2,
        .menulv3 {
            position:absolute;
            width: 100%;
            top: 60px;
            left: 0;
            background-color:$c-blue-extra;
            height: 50px;
            display: none;
            z-index: 99;
            li{
                list-style: none;
                display: inline-block;
                width: 14%;
                margin-left: 0%;
                a {
                    color: white;
                    line-height: 50px;
                    font-family: $gotham-book;
                    display: inline-block;
                    position: relative;
                    &:hover{
                        transition: width 100ms ease;
                        opacity: 0.7;
                    }
                    &:before{
                        content: '\00a0';
                        width: 30px;
                        height: 30px;
                        display: inline-block;
                        vertical-align: middle;
                        background-image: url('../images/sp_padecimientos_wh.png');
                        background-size: auto 30px;
                        background-repeat: no-repeat;
                        margin-right: 9px;
                        margin-top: 9px;
                        float: left;
                    }
                    
                    &.percent{
                        &:before{
                            content: '%';
                            background-image: none;
                            font-size: 24px;
                            line-height: 40px;
                            font-family: $gotham-book;
                            
                        }
                    }
                }
                a.shoulder {
                    &:before {
                        background-position: -33px 0;
                    }
                }
                a.foot {
                    &:before {
                        background-position: -66px 0;
                    }
                }
                a.knee {
                    &:before {
                        background-position: -100px 0;
                    }
                }
                a.hand {
                    &:before {
                        background-position: -133px 0;
                    }
                }
                a.others {
                    &:before {
                        background-image: none;
                    }
                }
            }
            .sublv2 {
                width: auto;
                margin-left: 5%;
                a {
                    &:before {
                        background: none;
                    }
                }
            }
        }
    }
    @media (max-width:767px){
        height: 45px; 
        width: 105px;
        border-radius: 5px;
        margin-left: 10px;   
        .menu-desk{
            display: none;
        }
        .hamburger {
            min-height: 30px;
            max-width: 50px;
            position: absolute;
            top: 11px;
            left: 30px;
            .menu-mobile{
                display: none;
                height: 150px;
                li{
                    display: inline-block;
                    width: 200px;
                    background-color: $c-blue-extra;
                    list-style: none;
                    position: relative;
                    top: 33px;
                    left: -70px;
                    height: 34px;
                    line-height: 15px;
                    padding: 10px;
                    a{
                        color: white;
                    }
                }
            }
        }
        .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
            background-color: white;
            position: absolute;
            width: 40px;
            height: 4px;
            border-radius: 5px;
            content: '\00a0';
            transition-timing-function: ease;
            transition-duration: .2s;
            transition-property: transform,opacity;
        }
        .hamburger-inner:before {
            top: 10px;
        }
        .hamburger-inner:after {
            top: 20px;
        }
        .hamburger.open .hamburger-inner {
            transform: translate3d(0,10px,0) rotate(45deg);
        }
        .hamburger.open .hamburger-inner:after {
            transform: translate3d(0,-20px,0) rotate(-90deg);
        }
        .hamburger.open .hamburger-inner:before {
            transform: translate3d(0,-10px,0) rotate(90deg);
        }
    }
}