
header{
    ul{
        li{
            display: inline-block;
            vertical-align: middle;
            a{
                display: inline-block;
                vertical-align: middle;

            }
        }
    }
}
nav{
   
}

main{
    
    /*PARALLAX*/
    @mixin mixin-parallax{
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
   
    .slides{
        position: relative;
    }
}


.footer-pay{
    background:#f0efef;
    .container{
        position:relative;
        height:100px;
    }
    .brand-mastercard{
        background:url("../images/header/mastercard.png") no-repeat;
        width:250px;
        height:100px;
        display:block;
        text-indent: -9999px;
        position: absolute;
        left:0;
    }
    .brand-paypal{
        background:url("../images/header/paypal.png") no-repeat;
        width:200px;
        height:100px;
        display:block;
        text-indent: -9999px;
        position: absolute;
        left:50%;
        margin-left: -100px;
    }
    .brand-visa{
        background:url("../images/header/visa.png") no-repeat;
        width:200px;
        height:100px;
        display:block;
        text-indent: -9999px;
        position: absolute;
        right:0;
    }
}


.login-view{
    .account-links{
        .nav-account, .nav-logout{
            visibility: hidden;
        }
    }
    font-family: $gotham-bold;
    text-transform: uppercase;
    h3{
        font-size: 25px;
    }
    .first, .second, .third{
        height: 240px;
        border-radius: 5px;
        padding: 10px;
        label{
            display: block;
            margin:22px 0 10px 0;
            font-size: 15px;
            font-family: $gotham-medium;
        }
        input{
            width: 80%;
            border: none;
            border-radius: 5px;
            height: 35px;
            padding-left: 20px;
            text-transform: uppercase;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $c-dark-gray;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: $c-dark-gray;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: $c-dark-gray;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: $c-dark-gray;
            }

        }
    }
    .first{
        margin-top: 100px;
        margin-bottom:20px;
        margin-bottom: 150px;
        &.margin{
            margin-bottom: 0px;
        }
        h3{
            color: $c-red;
            &:after{
                content: '\00a0';
                background-image: url(../images/sprite.png);
                background-repeat: no-repeat;
                background-position: -18px -110px;
                background-size: 135px;
                width: 35px;
                height: 35px;
                display: block;
                display: inline-block;
                vertical-align: middle;
                position: relative;
                top: -3px;

            }
        }
        label{
            color: $c-dark-red;
        }
        input{
            background-color: $c-gray;
            color: black;
        }
        .btn_small{
            background-color: transparent;
            background-image: url(../images/sprite.png);
            width: 33px;
            height: 30px;
            background-size: 137px;
            background-position: -14px -272px;
            cursor: pointer;
            border: none;
            display: inline-block;
            position: relative;
            top: -5px;
        }
        p{
            font-family: $gotham-medium;
            margin-top: 10px;
            a{
                color: $c-dark-red;
                cursor: pointer;
            }
        }
    }
    .second{
        padding: 50px;
        text-align: center;
        margin-bottom: 50px;
        position: relative;
        height: 200px;
        top: 30px;
        h3{
            margin: 0 0 30px 0;
            &:after{
                content: none;
            }
        }
        .btn_white{
            @include btn_wsmall;
            width: auto;
        }
        &:before{
            content: '\00a0';
            width: 30px;
            height: 30px;
            background-color: $bg-red;
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            left: -15px;
            top: 44%;
            border-radius: 0px 0 0px 5px;
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    .second, .third{
        color: white;
        background-color: $bg-red;
        h3{
            color: white;
        }
    }
    .third{
        height: auto;
        margin-bottom: 100px;
        margin-top: 50px;
        padding-bottom: 30px;
        display: none;
        opacity: 0;
        -webkit-transition: opacity 300ms ease-out;
        -moz-transition: opacity 300ms ease-out;
        -o-transition: opacity 300ms ease-out;
        transition: opacity 300ms ease-out;
        &.open{
            display: block;
            opacity: 1;
            -webkit-transition: opacity 300ms ease-out;
            -moz-transition: opacity 300ms ease-out;
            -o-transition: opacity 300ms ease-out;
            transition: opacity 300ms ease-out;
        }
        &:before{
            content: '\00a0';
            width: 30px;
            height: 30px;
            background-color: $bg-red;
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            left: 73%;
            top: -15px;
            border-radius: 5px 0 0px 0px;
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        input{
            background-color: #f9d4d2;
            color: black;

        }
        .required_field{
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $c-dark-red;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: $c-dark-red;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: $c-dark-red;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: $c-dark-red;
            }
        }
        .btn_white{
            @include btn_wsmall;
            width: 50%;
            height: 40px;
            margin-top: 25px;
            margin-left: 30%;
        }
        .employee{
            display: inline-block;
            width: 38%;
            margin-top: 40px;
        }
        #employee{
            height: 40px;
            color: $c-red;
            width: 41%;
            opacity: 0.8;
            border-radius: 5px;
            border: 0;
        }
        #terms{
            width: 30px;
            height: 30px;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            -o-appearance: none;
            border: none;
            &:before{
                content: '\00a0';
                width: 30px;
                height: 30px;
                background-color: transparent;
                display: inline-block;
                vertical-align: baseline;
                position: relative;
                left: -17px;
            }
            &:checked{
                &:before{
                    content: '\00a0';
                    width: 30px;
                    height: 30px;
                    background-image: url(../images/sprite.png);
                    background-repeat: no-repeat;
                    background-position: -18px -207px;
                    background-size: 120px;
                    display: inline-block;
                    vertical-align: baseline;
                    position: relative;
                    left: -17px;
                }
            }
            &:focus{
                outline: 0px;
            }
        }
        .terms{
            font-family: $gotham-book;
            font-size: 12px;
            display: inline-block;
            vertical-align: middle;
            a{
                color:  black;
            }

        }
    }
}

.catalog-category-view{
    .filtros{
        ul{
            li{
                list-style: none;
                input[type='checkbox']{
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    -o-appearance: none;
                    border: 2px solid #afafaf;
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    border-radius: 7px;
                    margin-right: 8px;
                    vertical-align: sub;
                    &:checked{
                       background-color: #afafaf; 
                    }
                    &:focus{
                        outline: 0px;
                    }
                }
            }
        }
        #slider{
            margin-top: 15px;
            .ui-slider-handle{
                border: 2px solid #afafaf;
                border-radius: 7px;
                width: 20px;
                height: 20px;
                top: -9px;
                background: white;
                &:focus{
                    outline: 0px;
                    cursor: e-resize;
                }
                &.ui-state-active{
                    background: #e3e3e3;
                    cursor: e-resize;
                }
            }
            &.ui-slider-horizontal{
                height: 6px;
                background: red;
                border: red;
                border-radius: 3px;
            }
        }
        span{
            width: 49%;
            display: inline-block;
            text-transform: uppercase; 
            color: #aeaeae;
            font-family: $gotham-book;
            font-size: 12px;
            &.align_right{
                text-align: right;
            }
        }
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.catalog-product-view{
    .border_dotted_vertical{
        @include border_dotted_vertical;
    }
    .modal-dialog{
        width: 900px;
        .modal-content{
            width: 900px;
            .modal-header{
                h4{
                    color: #ff2116;
                    text-transform: uppercase;
                    font-size: 16px;
                }
            }
        }
        .col{
            width: 28%;
            float: left;
            font-family: $gotham-medium;
            text-transform: uppercase;
            ul{
                margin: 0;
                padding:0;
                li{
                    list-style: none;
                    height: 80px;
                    line-height: 80px;
                    padding: 0 20px;
                    &.style1{
                        height: 200px;
                    }
                    &.style2{
                        height: 50px;
                        h4{
                            font-size: 16px;
                            text-align: center;
                            color: $bg-dark-red;
                        }
                    }
                    &.style8{
                        line-height: inherit;
                    }
                }
            }
            &.col1{
            color: $bg-dark-red;
            text-align: right;
            width: 15%;
            }
            &.col2{
                ul{
                    li{
                        text-align: center;
                        &.style3{
                            &.nesc{
                                img{
                                    width: 100px;
                                    height: auto;
                                }
                            }
                        }
                        &.style4, &.style5, &.style6{
                            color: #686767;
                        }
                        &.style7{
                            color: $bg-dark-red;
                            font-size: 20px;
                            span{
                                font-size: 30px;
                            }
                        }
                        &.style8{
                            .etiqueta3{
                                display:inline-block;
                                color:#fff;
                                background:#ff2116;
                                text-transform: uppercase;
                                font-size: 10px;
                                line-height: 10px;
                                width:55px;
                                position:relative;
                                cursor: pointer;
                                text-align: left;
                                border-radius: 5px;
                                padding:7px 10px 7px 35px;
                                &:before{
                                    content:"";
                                    width:30px;
                                    height:30px;
                                    position:absolute;
                                    background:url("../images/sprite.png") -48px -48px no-repeat;
                                    background-size:130px;
                                    left:0;
                                }
                            }
                            .etiqueta4{
                                display:inline-block;
                                color:#fff;
                                background:#ff2116;
                                text-transform: uppercase;
                                font-size: 10px;
                                line-height: 10px;
                                width:55px;
                                position:relative;
                                cursor: pointer;
                                text-align: left;
                                border-radius: 5px;
                                padding:7px 10px 7px 35px;
                                &:before{
                                    content:"";
                                    width:30px;
                                    height:30px;
                                    position:absolute;
                                    background:url("../images/sprite.png") -48px -204px no-repeat;
                                    background-size:130px;
                                    left:0;
                                }
                            }
                        }
                        img{
                            height: 80%;
                        }
                    }
                }
            }
        }
        .modal-header{
            .close{
                background-image: url(../images/sprite.png);
                width: 33px;
                height: 30px;
                background-size: 116px;
                background-position: -12px -228px;
                cursor: pointer;
                opacity: 1;
                color: white;
            }
            .modal-title{
                font-family: $gotham-bold;
                font-size: 30px;
            }
        }
    }
}

.catalog-product-view{
    .pickadate{
        position: absolute;
        background-color: $bg-red;
        z-index: 1;
        padding: 15px 15px 50px 15px;
        font-family:$helvetica-bold;
        color: white;   
        text-transform: uppercase;
        font-size: 11px;
        width: 610px;
        right: 0;
        border-radius: 10px;
        top: 269px;
        display: none;
        h3{
          font-size: 13px;  
        }
        input{
            width: 90%;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            height: 30px;
            margin: 5px auto 10px auto;
            border-radius: 5px;
            background-color: #f9d4d2;
            text-indent: 10px;
            color: $c-dark-red;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: $c-red;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              color: $c-red;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              color: $c-red;
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: $c-red;
            }
        }
        label{
            display: block;
        }
        span{
            display: block;
        }
        .send{
            clear: both;
            display: block;
            margin: 0 auto;
            background: black;
            color: white;
            padding: 10px;
            width: 150px;
            display: block;
            border: none;
            text-transform: uppercase;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 5px;
        }
        span{
            margin-top: 30px;
        }
        .span{
            margin-top: 20px;
        }
        .col{
            width: 50%;
            float: left;
            &.col1{
                float: right;
                margin-top: 30px;
                margin-bottom: 20px;
            }
        }
        &:before{
            content: '\00a0';
            width: 30px;
            height: 30px;
            background-color: $bg-red;
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            left: 66%;
            top: -15px;
            border-radius: 5px 0 0px 0px;
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    .open{
        display: block;
    }
}

