@font-face {
	font-family: 'Gotham-Black';
	src: url('../fonts/Gotham-Black/Gotham-Black.eot');
	src: url('../fonts/gotham/Gotham-Black/Gotham-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham/Gotham-Black/Gotham-Black.woff') format('woff'),
	url('../fonts/gotham/Gotham-Black/Gotham-Black.ttf') format('truetype');}

@font-face {
	font-family: 'Gotham-BlackItalic';
	src: url('../fonts/Gotham-BlackItalic/Gotham-BlackItalic.eot');
	src: url('../fonts/Gotham-BlackItalic/Gotham-BlackItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham-BlackItalic/Gotham-BlackItalic.woff') format('woff'),
	url('../fonts/Gotham-BlackItalic/Gotham-BlackItalic.ttf') format('truetype');}

@font-face {
	font-family: 'Gotham-Bold';
	src: url('../fonts/Gotham-Bold/Gotham-Bold.eot');
	src: url('../fonts/Gotham-Bold/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham-Bold/Gotham-Bold.woff') format('woff'),
	url('../fonts/Gotham-Bold/Gotham-Bold.ttf') format('truetype');}

@font-face {
	font-family: 'Gotham-BoldItalic';
	src: url('../fonts/Gotham-BoldItalic/Gotham-BoldItalic.eot');
	src: url('../fonts/Gotham-BoldItalic/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham-BoldItalic/Gotham-BoldItalic.woff') format('woff'),
	url('../fonts/GGotham-BoldItalic/Gotham-BoldItalic.ttf') format('truetype');}

@font-face {
	font-family: 'Gotham-Book';
	src: url('../fonts/Gotham-Book/Gotham-Book.eot');
	src: url('../fonts/Gotham-Book/Gotham-Book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham-Book/Gotham-Book.woff') format('woff'),
	url('../fonts/Gotham-Book/Gotham-Book.ttf') format('truetype');}

@font-face {
	font-family: 'Gotham-BookItalic';
	src: url('../fonts/Gotham-BookItalic/Gotham-BookItalic.eot');
	src: url('../fonts/Gotham-BookItalic/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham-BookItalic/Gotham-BookItalic.woff') format('woff'),
	url('../fonts/Gotham-BookItalic/Gotham-BookItalic.ttf') format('truetype');}

@font-face {
	font-family: 'Gotham-Medium';
	src: url('../fonts/Gotham-Medium/Gotham-Medium.eot');
	src: url('../fonts/Gotham-Medium/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham-Medium/Gotham-Medium.woff') format('woff'),
	url('../fonts/Gotham-Medium/Gotham-Medium.ttf') format('truetype');}

@font-face {
	font-family: 'Gotham-MediumItalic';
	src: url('../fonts/Gotham-MediumItalic/Gotham-MediumItalic.eot');
	src: url('../fonts/Gotham-MediumItalic/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham-MediumItalic/Gotham-MediumItalic.woff') format('woff'),
	url('../fonts/Gotham-MediumItalic/Gotham-MediumItalic.ttf') format('truetype');}

